GOOGLE_CLIENT_ID=your-google-client-id-here
GOOGLE_CLIENT_SECRET=your-google-client-secret-here
SERVER_PORT=8443
SERVER_HTTP_PORT=8080
SERVER_SSL_KEY_STORE=src/main/resources/keystore.p12
SERVER_SSL_KEY_STORE_PASSWORD=potato
SERVER_SSL_KEY_STORE_TYPE=PKCS12
SERVER_SSL_KEY_ALIAS=scissors-please