<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

{{> components/head}}

<body class="centered-layout">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <h1 class="error-code mb-4">
                    {{#errorCode}}
                    {{errorCode}}
                    {{/errorCode}}
                    {{^errorCode}}
                        500
                    {{/errorCode}}
                </h1>
                <h2 class="h3 fw-bold mb-3">
                    {{#errorMessage}}
                    {{errorMessage}}
                    {{/errorMessage}}
                    {{^errorMessage}}
                    The page you are looking for doesn't exist or has been moved.
                    Unless you were looking for this error page, in which case: Congrats! You found it.
                    {{/errorMessage}}
                </h2>
                <a href="/" class="btn btn-primary px-4 py-2 me-2">Go Home</a>
            </div>
        </div>
    </div>

    {{> components/scripts}}
</body>

</html>